---
import { getCollection } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

type Post = {
  slug: string;
  data: any;
  render: () => Promise<{ Content: any }>;
};

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post: Post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: Post };
const { Content } = await post.render();

import CodeBlock from "@/components/CodeBlock.astro";

export const components = {
  pre: CodeBlock,
};
---

<MarkdownLayout frontmatter={post.data}>
  <div class="prose dark:prose-invert w-full max-w-2xl" transition:name="post">
    <Content {components} />
  </div>
</MarkdownLayout>
