---
import { getCollection } from "astro:content";
import LayoutMDX from "../../layouts/LayoutMDX.astro";

type Post = {
  slug: string;
  data: any;
  render: () => Promise<{ Content: any }>;
};

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: Post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: Post };
const { Content } = await post.render();
---

<LayoutMDX frontmatter={post.data}>
  <div class="prose prose-invert">
    <Content />
  </div>
</LayoutMDX>
