---
import "@/styles/globals.css";
import Post from "@/components/Post.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

let posts = await getCollection("posts");

posts = posts.sort(
  (a, b) =>
    Date.parse(b.data.pubDate.toISOString()) -
    Date.parse(a.data.pubDate.toISOString()),
);
---

<Layout title="posts | renan leonel">
  <main class="space-y-4" transition:name="post">
    <h1 class="text-xl font-bold">Posts</h1>
    <div class="space-y-4">
      {
        posts.map((post, i) => (
          <Post
            title={post.data.title}
            description={post.data.description}
            url={`/posts/${post.slug}/`}
            index={i}
          />
        ))
      }
    </div>
  </main>
</Layout>
