---
import PLIN from "@/content/features/plin.mdx";
import TRACTIAN from "@/content/features/tractian.mdx";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="features | renan leonel">
  <div class="flex flex-col gap-4">
    <div id="tractian">
      <a class="text-lg font-bold" href="#tractian">TRACTIAN</a>
      <TRACTIAN />
    </div>

    <hr />

    <div id="plin">
      <a class="text-lg font-bold" href="#plin">PLIN</a>
      <PLIN />
    </div>
  </div>
</Layout>
