---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Icons from "@/components/Icons.astro";
---

<Layout title="home | renan leonel">
  <main class="flex flex-col">
    <h1 class="font-semibold text-2xl mb-4 tracking-tighter">hi!</h1>
    <p class="mb-8">
      i'm Renan, a frontend developer currently focusing on creating educational
      content for developers and building open-source applications. These are
      the technologies that you will probably see me writing about:
    </p>

    <div class="mb-12">
      <Icons />
    </div>

    <p class="mb-4">
      i'm always testing new libraries that i find interesting and publishing
      some code in my <acv
        href="https://github.com/renanleonel?tab=repositories"
        class="underline cursor-pointer">github repositories</acv
      >. you can check my <a
        href="https://cv-psi-eight.vercel.app/"
        class="underline cursor-pointer">cv</a
      > as well.
    </p>
  </main>
</Layout>
