---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <a href="/posts" class="underline">posts</a>

  <h1 class="text-lg font-bold">Projects</h1>

  <h2 class="text-neutral-100 font-semibold underline">blog</h2>
  <p class="text=sm text-neutral-400">my personal blog</p>
</Layout>
