---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col">
    <!-- <h1>hi!</h1>
    <div>currently focusing on creating educational content for developers</div>
    <div>my stack:</div>

    <div>you can check my cv here:</div> -->
  </main>
</Layout>
