---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Projects">
  <div class="flex flex-col gap-4">
    <h1 class="text-xl font-bold">Projects</h1>
    <a href="https://github.com/renanleonel/quark">
      <div class="flex items-center gap-4">
        <h2 class="text-neutral-100 text-lg font-semibold underline">quark</h2>
        <Badge className="bg-white text-primary gap-1">
          <span class="animate-pulse rounded-full bg-green-600 h-2 w-2"></span>
          in development
        </Badge>
      </div>
      <p class="text=sm text-neutral-400">
        open source application to streamline the ticketing process for
        technical projects
      </p>
    </a>
    <a href="https://github.com/renanleonel/renanleonel.io">
      <div class="flex items-center gap-4">
        <h2 class="text-neutral-100 text-lg font-semibold underline">blog</h2>
      </div>
      <p class="text=sm text-neutral-400">this one!</p>
    </a>

    <div>
      <div class="flex items-center gap-4">
        <h2 class="blur-sm text-neutral-100 text-lg font-semibold underline">
          new project
        </h2>
        <Badge className="bg-white text-primary gap-1">soon!</Badge>
      </div>
      <p class="blur-sm text=sm text-neutral-400">
        still no info here, you can close the devtools lol
      </p>
    </div>
  </div>
</Layout>
