---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "inline-flex items-center rounded-full border border-transparent px-2.5 text-xs font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2",
    className,
  )}
>
  <slot />
</div>
