---
import Socials from "@/components/Socials.astro";
---

<header class="flex justify-between items-center w-full max-w-2xl py-4 pb-8">
  <header class="flex items-center space-x-4">
    <a href="/">
      <span>home</span>
    </a>
    <a href="/posts">
      <span>posts</span>
    </a>
    <a href="/projects">
      <span>projects</span>
    </a>
  </header>
  <Socials />
</header>
