---
interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<div class="hover:bg-neutral-100 dark:hover:bg-[#242424] px-2 py-4 rounded-md">
  <a href={url}>
    <h2 class="text-lg font-semibold">
      {title}
    </h2>
    <p>{description}</p>
  </a>
</div>
