---
import { Image } from "astro:assets";

import dev from "@/images/dev-to.svg";
import github from "@/images/github.svg";
import linkedin from "@/images/linkedin.svg";
---

<div class="flex gap-2 transition-all duration-100 dark:invert">
  <a href="https://github.com/renanleonel" target="_blank">
    <Image
      src={github}
      alt="GitHub"
      class="cursor-pointer hover:scale-110"
      width={20}
      height={20}
    />
  </a>
  <a href="https://www.linkedin.com/in/renanleonel/" target="_blank">
    <Image
      src={linkedin}
      alt="LinkedIn"
      class="cursor-pointer hover:scale-110"
      width={20}
      height={20}
    />
  </a>
  <a href="https://dev.to/renao" target="_blank">
    <Image
      src={dev}
      alt="DEV Community"
      class="cursor-pointer hover:scale-110"
      width={20}
      height={20}
    />
  </a>
</div>
