---
import Layout from "./Layout.astro";
import { formatDate } from "@/lib/utils";

const { frontmatter } = Astro.props;
const { title, pubDate } = frontmatter;
---

<Layout {title}>
  <div class="space-y-2 pb-8">
    <h1 class="font-semibold text-3xl">{title}</h1>
    <p class="text-sm text-neutral-400">{formatDate(pubDate)}</p>
  </div>
  <slot />
</Layout>
